@import "src/assets/styles/vars";

.main-content{
  position: relative;
}
.search{
  width: 400px;
  margin: 30px auto 0 auto;
  @include phones{
    width: calc(100% - 40px);
  }
}
.main-pages{
  margin: 20px 0;
  display: flex;
  justify-content: center;
}



